<script>
  let bg = document.getElementById('page-bg');
  bg.style.setProperty('will-change', 'filter', '');
  let hue = 220; // Navy blue color

  // Dark mode support
  let isDark = document.documentElement.classList.contains('dark');
  document.addEventListener('hbThemeChange', (e) => {
    console.debug('Theme changed - isDarkTheme? ' + e.detail.isDarkTheme());
    isDark = e.detail.isDarkTheme();
  });

  // Set static background color
  if (isDark) {
    bg.style.backgroundColor = `hsl(${hue}, 50%, 20%)`;
  } else {
    bg.style.backgroundColor = `hsl(${hue}, 50%, 40%)`;
  }
</script>
